@font-face {
  font-family: "YoungSerif-Regular";
  src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Stone_100: hsl(30, 54%, 90%);
  --Stone_150: hsl(30, 18%, 87%);
  --Stone_600: hsl(30, 10%, 34%);
  --Stone_900: hsl(24, 5%, 18%);
  --Brown_800: hsl(14, 45%, 36%);
  --Rose_800: hsl(332, 51%, 32%);
  --Rose_50: hsl(330, 100%, 98%);
}

* {
  box-sizing: border-box;
}

html {
  min-width: 375px;
  width: 100%;
  display: flex;
  top: 0;
  justify-content: center;
  background: var(--Rose_50);
  font-size: 14px;
}

.container {
  width: 375px;
  background-color: var(--White);
}

header img {
  width: 100%;
}

.info, main {
  margin: 0 34px;
}

h1 {
  font-family: "YoungSerif-Regular";
  font-size: 2.25em;
  color: var(--Stone_900)
}

@media screen and (min-width: 740px) {
  html {
    padding-top: 122px;
  }
  .container {
    width: 738px;
    border-radius: 25px;
    padding: 35px;
  }
  img {
    border-radius: 15px;
  }
  .info, main {
    margin: 0;
  }  
  h1 {
    font-size: 2.25em;
  }  
}
